services:
  backend:
    build: ./backend
    restart: always
    env_file:
      - ./backend/.env
    expose:
      - "8000"

  frontend:
    build: ./frontend
    restart: always
    ports:
      - "80:80"  # Теперь фронтенд — это входная точка
    depends_on:
      - backend