services:
  backend:
    build: ./backend
    restart: always
    env_file:
      - ./backend/.env
    # Порт 8000 не обязательно открывать наружу, если есть nginx
    expose:
      - "8000"

  frontend:
    build: ./frontend
    restart: always
    # Если используете nginx внутри фронта как в шаге 1:
    depends_on:
      - backend

  gateway:
    image: nginx:stable-alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./frontend/dist:/usr/share/nginx/html # Или использовать билд из контейнера frontend
    depends_on:
      - backend
      - frontend