services:
  backend:
    build: ./backend
    restart: always
    env_file:
      - ./backend/.env
    expose:
      - "8000"

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    restart: always
    ports:
      - "80:80"
      - "443:443"  # Пробрасываем порт для HTTPS
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - backend